/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
}

li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #F38181;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background-color: #FCE38A;
  padding: 30px;
  color: #F3ADAD;
}

.col-60 {
  background: #EAFFD0;
  height: 600px;
  width: 600px;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: left;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.estilado {
  height: 198px;
  width: 198px;
  float: left;
  display: block;
  border: 1px solid #95E1D3;
}

.texto-centrado img {
  width: 150px;
  height: 150px;
}

#footer {
  padding: 10px 0;
  text-align: center;
  font-style: italic;
  color: #FFF;
  background-color: #EC6778;
}

.estilado img{
  height: 100%;
  width: 100%;
}